<div ng-cloak style="align-content: center">
    <div class="row">
        <div class="col s12 m4 l3">
            <ul class="nav-news-feed">
                <li><div><a href="profile.html">My Profile</a></div></li>
                <!--<li><div><a href="contacts.html">Contacts</a></div></li>-->
                <li><div><a href="chat.html">Chats</a></div></li>
                <!--<li><div><a href="images.html">Images</a></div></li>-->
                <!--<li><div><a href="videos.html">Videos</a></div></li>-->
            </ul>
        </div>
        <div class="col s12 m8 19">
            <div class="card  cyan darken-1">
                <div class="card-content ">
                    <i class="material-icons prefix" style="color: white">mode_edit</i> <span text-white style="font-size:larger; color:white">Message:</span>
                     <textarea style="background: white" id="textarea1" class="materialize-textarea" ng-model="chatCtrl.newText" type="text"></textarea>
                </div>
                <div class="card-action white">
                    <button class="btn waves-effect cyan darken-1" type="submit" name="action" ng-click="chatCtrl.postMsg()">Send
                    <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--<div  id="chat-list" style="height:300px;overflow:auto">-->
    <div class="col s12 m8 19">
        <!-- Here come the messages in the chat, each one presented in card -->
        <div ng-repeat="m in chatCtrl.messageList">
            <!-- This card provides space for the message and Like/dislike buttons -->
            <div class="row">
                <div class="col s9">
                    <div class="card">
                        <div class="card-content">
                            <!-- Card Title is the person who write the message -->
                            <span class="card-title">{{m.first_name}}</span>
                            <!-- Here comes the message text -->
                            <p>
                                {{m.message}}
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">thumb_up
                            </i></a> <span ng-bind= "m.likes">  </span>
                            <a class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">thumb_down
                            </i></a><span ng-bind="m.dislikes">  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>