  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">LiSS Message App</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><div><a href="#!/profile">My Profile</a></div></li>
        <li><div><a href="#!/group">My Chats</a></div></li>
        <li><a href="#!/contacts">My contacts</a></li>
      </ul>
        <div class="right hide-on-med-and-down">
            <ul class="right hide-on-med-and-down">
                <li><div><a href="#!/login">Log Out</a></div></li>
            </ul>
        </div>
    </div>
  </nav>

<div ng-cloak style="align-content: center">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Register</span>
                    <table>
                        <tbody>
                            <tr>
                                <th>First Name: </th>
                                <th><input ng-model="RegisterCtrl.fName" type="text" required maxlength="50"></th>
                            </tr>
                            <tr>
                                <th>Last Name: </th>
                                <th><input ng-model="RegisterCtrl.lName" type="text" required maxlength="50"></th>
                            </tr>
                            <tr>
                                <th>Username: </th>
                                <th><input ng-model="RegisterCtrl.username" type="text" required maxlength="50"></th>
                            </tr>
                             <tr>
                                <th>Phone: </th>
                                <th><input ng-model="RegisterCtrl.phone" pattern="[0-9.]+" type="text" maxlength="10"  ></th>
                            </tr>
                            <tr>
                                <th>Email: </th>
                                <th><input ng-model="RegisterCtrl.email" type="text" required maxlength="50"></th>
                            </tr>
                            <tr>
                                <th>Password: </th>
                                <th><input ng-model="RegisterCtrl.password" type="password" required maxlength="50"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    &nbsp; &nbsp;
                    <a class="waves-effect  green lighten-1 btn-small" ng-click="RegisterCtrl.register()">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>